#key access
do_token = ""

#location VPS
vscale_msk = ""

#image VPS
vscale_centos_7 = ""

#access_key in AWS
access_key = ""

#secret_key in AWS
secret_key = ""

#This is the AWS region
region = ""

#This user ansible
ansible_user = ""

#This private key access in Vscale
private_key = ""

